{% extends 'base.html.twig' %}

{% block title %}Ventes{% endblock %}

{% block card %}
    <div class="card-body ">
        <div class="row d-flex justify-content-between px-3">
            <div class="d-flex align-items-center justify-content-start" style="color: #174a84">
                <i class="fas fa-user-alt float-left fa-3x mr-4 ml"></i>
                <h4 class="card-title align-middle mb-0"> Liste des Ventes </h4>
            </div>
            <button class="btn text-primary border-primary my-4 btn-sm float-right button "><a class="text-primary" href="#">Créer une vente</a></button>
        </div>
        <div class="table-responsive overflow-auto h-75">
            <table class="table table-hover table-sm table_design" >
                <thead class="text-muted">
                <tr>
                    <th  scope="col"> Reference</th>
                    <th  scope="col">Nom de Client </th>
                    <th scope="col">Produits</th>
                    <th  scope="col"> Date de vente  </th>


                </tr>
                </thead>
                <tbody class="table-striped pb-1">
                    <tr>
                        <td> {{ vente.idVente}} </td>
                        <td> {{ vente.idClient.nameClient }} </td>
                        <td>
                            {% for produit in produits %}
                                {{ produit.nomProduit }} +++++++
                            {% endfor %}
                        </td>
                        <td> {{ vente.subscribedAt | date("m/d/Y") }} </td>

                    </tr>
                </tbody>

            </table>
        </div>
        <div class="card-fotter">
            <button type="button" class="btn btn-sm text-primary border-primary mx-1 button"><a href="{{ path('client.consultAll') }}">Revenir</a></button>
            <button type="button" class="btn btn-sm  btn-primary border-primary mx-1 float-right button"><a class="text-white "  href="{{ path('client.update', { idClient : client.idClient }) }}">Modifier</a></button>


        </div>


    </div>


{% endblock %}
